/* bg-red {
    border: 1px solid green;
    width: 200px;
    height: 200px
} */

.sub-board {
    margin-top: 2rem;
    display: flex;
}

.column {
    width: 17rem;
    /* height: 15rem; */
    background: #ebecf0;
    border-radius: 2px;
    margin: 0.25rem
}