.column {
  width: 17rem;
  /* height: 15rem; */
  background: #ebecf0;
  border-radius: 2px;
  margin: 0.25rem;
  /* checking */
  display: flex;
  flex-direction: column;
}

.list-header {
  height: 3.6875rem;
  line-height: 3.6875rem;
  display: flex;
  position: relative;
}

.list-header-text {
  margin: 0;
  width: 14rem;
  font-weight: 600px;
  font-size: 20px;
  text-align: center;
  /* line-height: 1.5rem; */
  /* background: transparent;
    border-radius: 3px;
    box-shadow: none; */
  font-weight: 600;
  /* margin: -4px 0;
    height: 20px;
    min-height: 20px; */
  padding: 4px 8px;
  /* resize: none; */
  max-height: 256px;
  text-align: center;
  /* vertical-align: middle; */
}

.row-cards {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  margin: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 1rem;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  /* position: fixed; */
  background-color: #fefefe;
  padding: 0.375rem 0.5rem;
  border: 1 solid #888;
  width: 15rem;
  line-height: 2.625rem;
  min-height: 2.625rem;
  text-align: center;
  border-radius: 7px;
  overflow: hidden;
}

.modal-content::placeholder {
  color: #172b4d;
}

.modal-wrapper {
  position: fixed;
  display: flex;
}

.modal-actions {
  background: rgba(0, 0, 0, 0.6);
  padding: 6px 12px 6px 8px;
  margin: 0 0 4px 8px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  width: 70px;
}

.modal-actions:hover {
  width: 80px;
  transition: width 0.1s;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
  position: fixed;
  top: 2px;
  right: 10px;
}

textarea {
  resize: none;
}

.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 18.75rem;
  min-height: 2.25rem;
  position: relative;
  text-decoration: none;
  z-index: 0;
  list-style-type: none;
  padding: 6px 8px 2px;
  flex-grow: 1;
  position: relative;
  .card-edit: {
    opacity: 0;
  }
}

.card-edit {
  position: absolute;
  top: 1px;
  right: 1px;
  opacity: 0;
}

.card:hover .card-edit {
  opacity: 1;
}

.card-info {
  clear: both;
  display: block;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
  word-wrap: break-word;
  color: #172b4d;
}

.card-bottom {
  color: #5e6c84;
  /* border-radius: 3px; */
  margin: 2px 0 0 8px;
  padding: 4px 15px;
}

.card-bottom-text {
  width: 11rem;
  display: inline-block;
}

/* textarea:focus {
    border: none;
    box-shadow: none;
} */

textarea:focus {
  outline: none;
}

.card-info textarea {
  resize: none;
  color: #172b4d;
}

textarea::placeholder {
  color: #5e6c84;
}

.new-card button[type="button"] {
  display: inline-block;
  font-weight: 400;
  line-height: 20px;
  margin: 8px 4px 0 0;
  padding: 6px 12px;
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
}

.move-actions {
  position: fixed;
  background: #fff;
  width: 18rem;
  text-align: center;
  color: #5e6c84;
  border-radius: 5px;
  margin: 0;
}

.move-actions-title {
  font-size: 18px;
  padding-top: 10px;
}

.actions-content:hover {
  background-color: #ccc8c8;
}

input.move-actions-input {
  margin-right: 0;
  background: #ddd;
  padding: 0px 12px;
  outline: none;
}

input.move-actions-input[type="text"] {
  width: 16rem;
}

/* .move-actions button []{
    background-color: #5aac44;
    box-shadow: none;
    border: none;
    color: #fff; } */

.move-actions button[type="submit"] {
  /* display: inline-block; */
  font-weight: 600;
  margin: 6px;
  padding: 6px 20px;
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.column-options {
  /* border: none;
    cursor: pointer;
    margin: 0;
    width: 16rem;
    height: 1.8rem;
    margin-top: 0.5rem;
    
    padding: -0.5rem;
    box-sizing: border-box;
    outline: none;
     */
  -webkit-appearance: none;
  text-align: center;
}

.actions-content {
  background: #ddd;
  margin-right: 0.2rem;
  border-radius: 5px;
  line-height: 1.3rem;
  padding: 0.2rem 0;
}

.select-actions {
  display: flex;
  width: 17rem;
  margin: 0.7rem auto;
  margin-bottom: 0.2rem;
}

.column-options {
  text-align-last: center;
  font-size: 20px;
}

label {
  display: block;
  font-size: 14px;
  color: #718096;
}

#column-select {
  width: 10rem;
}

option {
  text-align: center;
}

.dropDown {
  position: relative;
  display: inline-block;
  width: 50px;
  max-height: 30px;
  padding: 10px 12px;
  text-align: center;
}

.dropDown-content {
  position: absolute;
  background-color: #f1f1f1;
  width: 140px;
  line-height: 1.8;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: black;
  padding: 4px 16px;
  border-radius: 4px;
}

.dropdown-content:hover {
  background-color: #ddd;
}

.list-header-icon {
  width: 30px;
  line-height: 2.2;
}

.list-header-icon:hover {
  background-color: #cbd5e0;
}

#edit-column-title {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  width: 13rem;
  margin-left: 6px;
  box-sizing: border-box;
  border-radius: 3px;
}
